<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yourenkeji.shenghuidai"
    android:versionCode="1"
    android:versionName="1.0.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />
    <!-- +++++++++++++++++++++++++++++++++++++相关权限 +++++++++++++++++++++++++++++++++++++ -->
    <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_LOGS" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.SET_DEBUG_APP" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />

    <!-- 支付权限 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

    <!-- 自动添加短信验证码权限 -->
    <uses-permission android:name="android.permission.READ_SMS" />
    <!-- 友盟分享权限 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <!-- Required -->
    <!-- 友盟统计 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- Required -->
    <permission
        android:name="com.yourenkeji.shenghuidai.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required  一些系统要求的权限，如访问网络等 -->
    <uses-permission android:name="com.yourenkeji.shenghuidai.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />

    <!-- Optional for location -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" /> <!-- 用于开启 debug 版本的应用在6.0 系统上 层叠窗口权限 -->
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />

    <!-- 环信 -->
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_MOCK_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.GET_TASKS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="com.android.launcher.permission.READ_SETTINGS" />
    <uses-permission android:name="android.permission.BROADCAST_STICKY" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />

    <application
        android:name="com.delevin.application.Myapplication"
        android:allowBackup="true"
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        <activity
            android:name="com.delevin.shenghuidai.welcome.WelcomeActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.yintong.secure.activity.BaseActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"
            android:windowSoftInputMode="adjustResize" />

        <service
            android:name="com.yintong.secure.service.PayService"
            android:exported="false" />
        <!-- 主界面 -->
        <activity android:name="com.delevin.shenghuidai.main.MainActivity" >
        </activity>
        <!-- 引导页 -->
        <!--
             <activity android:name="com.delevin.shenghuidai.welcome.GuideActivity" >
        </activity>
        -->
        <activity android:name="com.delevin.shenghuidai.welcome.SHDGuideActivity" />
        <!-- 手势密码 -->
        <activity android:name="com.delevin.shenghuidai.denglu.GestruePwdActivity" >
        </activity>
        <!-- 注册 -->
        <activity android:name="com.delevin.shenghuidai.denglu.LoginActivity" >
        </activity>
        <!-- 登陆 -->
        <activity android:name="com.delevin.shenghuidai.denglu.DengluActvity" >
        </activity>
        <!-- 判断手机是否注册 -->
        <activity android:name="com.delevin.shenghuidai.denglu.ZhuActivity" >
        </activity>
        <!-- webView界面 -->
        <activity android:name="com.delevin.shenghuidai.activity.WebViewActivity" >
        </activity>
        <!-- 新手帮助界面 -->
        <activity android:name="com.delevin.shenghuidai.activity.HelpActivity" >
        </activity>
        <!-- 设置手势密码 -->
        <activity android:name="com.delevin.shenghuidai.gestureedit.GestureEditActivity" >
        </activity>
        <!-- 校验手势密码 -->
        <activity android:name="com.delevin.shenghuidai.gestureedit.GestureVerifyActivity" >
        </activity>
        <!-- 充值 -->
        <activity android:name="com.delevin.shenghuidai.activity.PayActivity" >
        </activity>
        <!-- 充值金额 -->
        <activity android:name="com.delevin.shenghuidai.activity.AddNumberActivity" >
        </activity>
        <!-- 支持银行列表 -->
        <activity android:name="com.delevin.shenghuidai.activity.ZhichiBankActivity" >
        </activity>
        <!-- hetongImage -->
        <activity android:name="com.delevin.shenghuidai.activity.HeTongActivity" >
        </activity>
        <!-- 投资标的详情 -->
        <!--
            android:windowSoftInputMode="adjustPan"   键盘就会覆盖屏幕
			android:windowSoftInputMode="stateVisible|adjustResize"   屏幕整体上移
        -->
        <!-- 只有用户点击了编辑框才显示软键盘，并且会导致原有界面重新布局  android:windowSoftInputMode="stateHidden|adjustResize" -->
        <activity
            android:name="com.delevin.shenghuidai.activity.BidDetalsActivity"
            android:windowSoftInputMode="stateHidden|adjustResize" >
        </activity>
        <!-- js交互界面 -->
        <activity android:name="com.delevin.jsandroid.JSAndroidActivity" >
        </activity>
        <!-- 绑定充值 -->
        <activity android:name="com.delevin.shenghuidai.activity.PayBindActivity" />
        <!-- 绑定充值 -->
        <activity android:name="com.delevin.shenghuidai.activity.TiXianActivity" />
        <!-- 我的投资 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyTouziActivity" />
        <!-- 我的资金 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyZijinActivity" />
        <!-- 我的红包 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyRedPacketActivity" />
        <!-- 我的红包 -->
        <activity android:name="com.delevin.shenghuidai.activity.PdfActivity" />
        <!-- 我的银行卡 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyBankActivity" />
        <!-- 安全管理 -->
        <activity android:name="com.delevin.shenghuidai.activity.MySafetyManagmentActivity" />
        <!-- 更多 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyMoreActivity" />
        <!-- 总资产 -->
        <activity android:name="com.delevin.shenghuidai.fragmentactivity.MyAssetsActivity" />
        <!-- 确认购买 -->
        <activity android:name="com.delevin.shenghuidai.activity.BidBuyActivity" />
        <!-- 筛选红包 -->
        <activity android:name="com.delevin.shenghuidai.activity.FilterRedPacketActivity" />
        <activity android:name="com.yourenkeji.shenghuidai.wxapi.ShareActivity" >
        </activity>
        <!-- 邀请记录 -->
        <activity android:name="com.delevin.shenghuidai.fragmentactivity.ShareYaoqingActivity" >
        </activity>
        <!-- 筛选优惠券 -->
        <activity android:name="com.delevin.shenghuidai.fragmentactivity.FilterFragmentActivity" >
        </activity>
        <!-- 我的优惠券 -->
        <activity android:name="com.delevin.shenghuidai.fragmentactivity.MyRedPacketActivity" >
        </activity>
        <!-- 回款日历 -->
        <activity android:name="com.delevin.shenghuidai.activity.ReturnCalendarActivity" />
        <!-- 微信 -->
        <activity
            android:name="com.yourenkeji.shenghuidai.wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <receiver
            android:name="com.delevin.shenghuidai.broderecaster.ConnectionChangeReceiver"
            android:enabled="true" />

        <!-- 友盟分享key -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="59b27c2ae88bad5f56000fb8" >
        </meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="f1023" >
        </meta-data>
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="0440904e1f163344948abf0e263dbb52" >
        </meta-data>

        <!-- qq完整版 -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true" >
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106295785" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />

        <!-- 退出相关广播 -->
        <receiver android:name="com.delevin.shenghuidai.exit.ForceOfflineReceiver" >
            <intent-filter>
                <action android:name="com.delevin.broadcast_FORCE_OFFLINE" />
            </intent-filter>
        </receiver>
        <!-- 极光推送 -->
        <!-- Rich push 核心功能 since 2.0.6 -->
        <activity
            android:name="cn.jpush.android.ui.PopWinActivity"
            android:exported="false"
            android:theme="@style/MyDialogStyle" >
        </activity>

        <!-- Required SDK核心功能 -->
        <activity
            android:name="cn.jpush.android.ui.PushActivity"
            android:configChanges="orientation|keyboardHidden"
            android:exported="false"
            android:theme="@android:style/Theme.NoTitleBar" >
            <intent-filter>
                <action android:name="cn.jpush.android.ui.PushActivity" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="com.yourenkeji.shenghuidai" />
            </intent-filter>
        </activity>

        <!-- Required SDK 核心功能 -->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:exported="false"
            android:process=":mult" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />
            </intent-filter>
        </service>

        <!-- since 1.8.0 option 可选项。用于同一设备中不同应用的JPush服务相互拉起的功能。 -->
        <!-- 若不启用该功能可删除该组件，将不拉起其他应用也不能被其他应用拉起 -->
        <service
            android:name="cn.jpush.android.service.DaemonService"
            android:enabled="true"
            android:exported="true" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.DaemonService" />

                <category android:name="com.yourenkeji.shenghuidai" />
            </intent-filter>
        </service>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter android:priority="1000" >
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" /> <!-- Required  显示通知栏 -->
                <category android:name="com.yourenkeji.shenghuidai" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能 -->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />

        <!-- User defined.  For test only  用户自定义的广播接收器 -->
        <receiver
            android:name="com.delevin.shenghuidai.jpush.MyReceiver"
            android:enabled="true"
            android:exported="false" >
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTRATION" /> <!-- Required  用户注册SDK的intent -->
                <action android:name="cn.jpush.android.intent.MESSAGE_RECEIVED" /> <!-- Required  用户接收SDK消息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED" /> <!-- Required  用户接收SDK通知栏信息的intent -->
                <action android:name="cn.jpush.android.intent.NOTIFICATION_OPENED" /> <!-- Required  用户打开自定义通知栏的intent -->
                <action android:name="cn.jpush.android.intent.CONNECTION" /> <!-- 接收网络变化 连接/断开 since 1.6.3 -->
                <category android:name="com.yourenkeji.shenghuidai" />
            </intent-filter>
        </receiver>

        <!-- Required  . Enable it you can get statistics data with channel -->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="645e9fadf190b87092c88b43" /> <!-- </>值来自开发者平台取得的AppKey -->
        <!-- 返利说明 -->
        <activity android:name="com.delevin.shenghuidai.activity.JSWebViewActivity" >
        </activity>
        <!-- 第一次设置交易密码验证 -->
        <activity android:name="com.delevin.shenghuidai.activity.NOSetPayPasswordNextActivity" >
        </activity>
        <!-- 已经设置交易密码验证 -->
        <activity android:name="com.delevin.shenghuidai.activity.YiSetPayPasswordNextActivity" >
        </activity>
        <!-- 修改交易密码 -->
        <activity android:name="com.delevin.shenghuidai.activity.XiugaiPayPasswordActivity" >
        </activity>
        <!-- 忘记交易密码，身份验证 -->
        <activity android:name="com.delevin.shenghuidai.activity.WangjiPayPasswordNextActivity" >
        </activity>
        <!-- 身份验证之后的手机验证 -->
        <activity android:name="com.delevin.shenghuidai.activity.IDCardNextPhoneCodeActivity" >
        </activity>
        <!-- 我的投资详情第一页 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyTouziCoarseDetailsActivity" >
        </activity>
        <!-- 我的头像点击跳转 -->
        <activity android:name="com.delevin.shenghuidai.activity.MyHeadPicActivity" >
        </activity>
        <!-- 投资成功 -->
        <activity android:name="com.delevin.shenghuidai.activity.BidSuccessActivity" >
        </activity>
        <!-- 更多投资项目 -->
        <activity android:name="com.delevin.shenghuidai.activity.TouziMoreObjectActivity" >
        </activity>
        <!-- 媒体报道 -->
        <activity android:name="com.delevin.shenghuidai.activity.TouziMeiTiActivity" >
        </activity>
        <!-- 原手机号验证 -->
        <activity android:name="com.delevin.shenghuidai.activity.OldPhoneCodeActivity" >
        </activity>
        <!-- 验证码通知 -->
        <service
            android:name="com.delevin.shenghuidai.utils.RegisterCodeTimerService"
            android:enabled="true" />
        <!-- 新手机号验证 -->
        <activity android:name="com.delevin.shenghuidai.activity.NewPhoneCodeActivity" >
        </activity>
        <!-- 未实名认证 -->
        <activity android:name="com.delevin.shenghuidai.activity.NoShimingRenzhengActivity" >
        </activity>
        <!-- 更多  微信客服 -->
        <activity android:name="com.delevin.shenghuidai.activity.MoreWXServiceActivity" >
        </activity>
        <!-- 充值纪录 -->
        <activity android:name="com.delevin.shenghuidai.activity.ChongzhiJiluActivity" >
        </activity>
        <!-- 提现纪录 -->
        <activity android:name="com.delevin.shenghuidai.activity.TixianJiluActivity" >
        </activity>
        <!-- pdf -->
        <activity android:name="com.delevin.shenghuidai.pdf.PDFActivity" >
        </activity>
        <!-- 找回密码获取验证码 -->
        <activity android:name="com.delevin.shenghuidai.denglu.ZhaoHuiSecretActivity" />
        <!-- 确认密码 -->
        <activity android:name="com.delevin.shenghuidai.denglu.ZhaoSureActivity" />
        <!-- 确认密码 -->
        <activity android:name="com.delevin.shenghuidai.activity.PayOrTianSuccessActivity" />
        <!-- web2 -->
        <activity android:name="com.delevin.shenghuidai.activity.WebActivity" >
        </activity>
        <!-- 注册其他一类说明 -->
        <activity android:name="com.delevin.shenghuidai.activity.RegisterOtherActivity" >
        </activity>
        <!-- PDF 列表 -->
        <activity android:name="com.delevin.shenghuidai.activity.PdfListActivity" >
        </activity>
        <!-- 合同列表 -->
        <activity android:name="com.delevin.shenghuidai.activity.TeTongImageActivity" >
        </activity>
        <!-- 公告列表 -->
        <activity android:name="com.delevin.shenghuidai.activity.NoticeListActivity" >
        </activity>
        <!-- 结标记录 -->
        <activity android:name="com.delevin.shenghuidai.activity.JiebiaoJiluActivity" >
        </activity>
        <!-- 收货地址 -->
        <activity android:name="com.delevin.shenghuidai.activity.AdressActivity" >
        </activity>
        <!-- 帮助中心 -->
        <activity android:name="com.delevin.shenghuidai.activity.HelpCenterActivity" >
        </activity>
        <!-- 意见反馈 -->
        <activity android:name="com.delevin.shenghuidai.activity.FeedBackActivity" >
        </activity>

        <!-- 环信 -->
        <!-- 开机自启动服务 -->
        <receiver android:name="com.easemob.chat.StartServiceReceiver" >
            <intent-filter android:priority="1000" >
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </receiver>

        <!-- 设置环信应用的appkey -->
        <meta-data
            android:name="EASEMOB_APPKEY"
            android:value="1196170512115293#shenghuidai" />
        <!-- 声明sdk所需的service -->
        <service android:name="com.easemob.chat.EMChatService" />

        <activity
            android:name="com.delevin.shenghuidai.chat.activity.ChatActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide"
            android:windowSoftInputMode="adjustResize" >
        </activity>
        <activity
            android:name="com.delevin.shenghuidai.chat.activity.ContextMenu"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.delevin.shenghuidai.chat.activity.AlertDialog"
            android:screenOrientation="portrait"
            android:theme="@style/MyDialogStyle" >
        </activity>
        <activity
            android:name="com.delevin.shenghuidai.chat.activity.ShowBigImage"
            android:screenOrientation="portrait"
            android:theme="@style/horizontal_slide" >
        </activity>
    </application>

</manifest>